<ion-header>
  <ion-toolbar>
    <ion-title>Bem Vindo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isLoading">
    <ion-card
      *ngFor="let post of posts; let i = index"
      (click)="goToPostDetails(post.id)"
    >
      <ion-card-header>
        <ion-card-subtitle>Post {{ post.id }}</ion-card-subtitle>
        <ion-card-title>{{ post.title }}</ion-card-title>
      </ion-card-header>

      <ion-img [src]="post.image"></ion-img>
      <ion-card-content> {{ post.body }} </ion-card-content>

      <ion-label> Autor {{post.author}} </ion-label>

      <ion-item>
        <ion-icon name="chatbubble" slot="start"></ion-icon>
        <ion-row>
          <ion-label>{{post.lastComment.body}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>{{post.lastComment.name}}</ion-label>
        </ion-row>
        <ion-button fill="outline" slot="end" (click)="goToPostDetails(post.id)"
          >Ver conversa</ion-button
        >
      </ion-item>
    </ion-card>
  </ion-list>

  <app-posts-skeleton *ngIf="isLoading"></app-posts-skeleton>
</ion-content>
