<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon
          slot="icon-only"
          name="chevron-back-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Post {{post.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="postContainer">
    <ion-fab
      vertical="top"
      horizontal="end"
      slot="fixed"
      *ngIf="post.userId === currentUser.id"
    >
      <ion-fab-button color="light" (click)="deletePost()" size="small">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card-header>
      <ion-card-subtitle
        >Post {{ post.id }} - {{post.author}}</ion-card-subtitle
      >
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>

    <ion-img *ngIf="post.image" [src]="post.image"></ion-img>
    <ion-card-content> {{ post.body }} </ion-card-content>

    <p>Comentários: {{post.comments ? post.comments.length : 0}}</p>

    <ion-list *ngIf="post.comments">
      <div
        class="commentContainer"
        *ngFor="let comment of post.comments; let i = index"
      >
        <div class="authorContainer">
          <ion-icon name="chatbubble" class="commentIcons"></ion-icon>
          <ion-label class="postAuthor">{{comment.name}}</ion-label>
        </div>

        <div class="commentContent">
          <ion-label>{{comment.body}}</ion-label>
        </div>
      </div>
    </ion-list>

    <ion-item lines="none">
      <div class="newCommentContainer">
        <ion-input
          type="text"
          [(ngModel)]="newCommentBody"
          placeholder="Digite seu comentário..."
        ></ion-input>
        <ion-button fill="outline" slot="end" (click)="saveComment()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </div>
</ion-content>
