<ion-header>
  <ion-toolbar>
    <ion-title>Post {{post.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card-header>
      <ion-card-subtitle>Autor {{post.author}}</ion-card-subtitle>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>

    <ion-img [src]="post.image"></ion-img>
    <ion-card-content> {{ post.body }} </ion-card-content>

    <ion-list>
      <ion-item *ngFor="let comment of post.comments; let i = index">
        <ion-label>{{comment.body}}</ion-label>
        <ion-label>{{comment.name}}</ion-label>
        <!-- <ion-label>{{comment.email}}</ion-label> -->
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Digite seu comentário...</ion-label>
      <ion-input type="text" [(ngModel)]="newCommentBody"></ion-input>
      <ion-button fill="outline" slot="end" (click)="saveComment()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>
