<ion-list lines="none">
  <ion-list-header>
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    <ion-skeleton-text
      animated
      style="width: 80%; height: 0.6em"
    ></ion-skeleton-text>
  </ion-list-header>
  <ion-item lines="none">
    <div class="postContainer">
      <div class="postContentContainer">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </div>
      <div class="commentsContainer">
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>

        <div class="commentContainer">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>

          <ion-label>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </ion-label>
        </div>
      </div>
    </div>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-list-header>
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    <ion-skeleton-text
      animated
      style="width: 80%; height: 0.6em"
    ></ion-skeleton-text>
  </ion-list-header>
  <ion-item lines="none">
    <div class="postContainer">
      <div class="postContentContainer">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </div>
      <div class="commentsContainer">
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>

        <div class="commentContainer">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>

          <ion-label>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </ion-label>
        </div>
      </div>
    </div>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-list-header>
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    <ion-skeleton-text
      animated
      style="width: 80%; height: 0.6em"
    ></ion-skeleton-text>
  </ion-list-header>
  <ion-item lines="none">
    <div class="postContainer">
      <div class="postContentContainer">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </div>
      <div class="commentsContainer">
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>

        <div class="commentContainer">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>

          <ion-label>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </ion-label>
        </div>
      </div>
    </div>
  </ion-item>
</ion-list>
