<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-button (click)="createData()">
  <ion-icon slot="start" name="create-outline"></ion-icon>
  Create Post
</ion-button>

<ion-button (click)="updateData()">
  <ion-icon slot="start" name="hammer-outline"></ion-icon>
  Update Post
</ion-button>

<ion-button (click)="deleteData()">
  <ion-icon slot="star" name="trash-outline"></ion-icon>
  Delete
</ion-button>

</ion-content>
