<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Blog</ion-title>
    <ion-button (click)="openFormModal(true)" slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-post-card (deletePost)="deletePost($event)" (openFormModal)="openFormModal(false, $event)"
    [combinedPost]="combinedPost" *ngFor="let combinedPost of combinedPosts$ | async"></app-post-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
