.page-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background-color);
  padding: 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  color: var(--title-color);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 10px;
  width: var(--card-width);
  display: flex;
  justify-content: space-between;
}

.header-actions-start {
  position: absolute;
  left: 0;
}

.icons {
  color: var(--primary-color);
  width: 40px !important;
  height: 40px!important;
}

@media (max-width: 650px) {
  .header-actions-start {
    position: relative;
  }
}