.comments-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -9px;
}

.list-root {
  background-color: #fff;
  width: var(--card-width);
  border-radius: 8px !important;
}

@media (max-width: 750px) {
  .list-root {
    width: 70%
  }
}

@media (max-width: 550px) {
  .list-root {
    width: 50%
  }
}