ion-content {
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    height: 100%;

    div {
      width: 100%;
    }

    .dataContainer {
      .imageSelectContainer {
        div {
          padding: 20px;
        }

        .imageSelected {
          ion-fab {
            ion-fab-button {
              margin: 0;
            }
          }

          ion-img {
            width: 100%;
            height: auto;
          }
        }

        .noImageSelected {
          ion-button {
            height: 25vh;

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              text-align: center;

              ion-icon {
                font-size: 3em;
                margin-bottom: 10px;
              }

              ion-label {
                font-size: 1.3em;
                font-weight: bold;
              }
            }
          }
        }
      }

      .fieldsContainer {
        margin-bottom: 20px;

        ion-row {
          ion-col {
            ion-item {
              padding-right: 15px;
            }
          }
        }

        input {
          display: none;
        }
      }
    }

    .actionsContainer {
      margin-bottom: 20px;
      padding: 0px 20px;

      ion-button {
        ion-icon {
          margin-left: 10px;
        }
      }
    }
  }
}
